@charset "UTF-8";

*{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(51, 51, 51);
    padding-top: 30px;
    height: 150px;
    font-size: 1.5em;
}

header a{
    text-decoration: none;
    color:crimson;
    padding: 10px;
}

header a:visited{
    color:crimson;
    text-decoration: none;
}

header a:hover{
    color:crimson;
    background-color: rgba(218, 215, 21, 0.959);
    border-radius: 4px;
}


header nav{
    float: left;
    margin-left: 75px;
}

header nav ul{
    list-style-type: none;
    text-align: center;
    margin-top: 50px;
}

header nav ul li{
    display: inline;
    margin: 0px 15px;
    padding: 7px;
}

header #conta{
    float: right;
    text-align: center;
    margin-top: 40px;
    margin-right: 75px;
}

header #conta ul{
    list-style-type: none;
    text-align: center;
}

header #conta ul li{
    display: inline;
    margin: 5px;
}

header #conta img{
    height:20px;
    width: 20px;
}

footer{
    margin-top: 75px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.3em;
    color:rgb(223, 203, 25);
    background-color: rgb(51, 51, 51);
    padding-bottom: 5px;
}

#contatos{
    color: rgb(230, 18, 60);
    margin-top: 15px;
}

#contatos h2{
    font-weight: bolder;
    margin-bottom: 10px;
}

#contatos p{
    margin: 5px 0px;
}

/* INDEX.HTML */

#index{
    width: 100%;
}

#empresa{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 85%;
    margin-top: 75px;
    background-color: rgba(128, 128, 128, 0.74);
    border-radius: 15px;
}

#empresa h1{    
    color: rgb(230, 18, 60);
    font-size: 4em;
    margin: 155px 75px;
    font-weight: bolder;
}

#empresa img{
    margin-top: 25px;
    margin-left: 30px;
    height: 320px;
    width: 550px;
    margin-right: 100px;
    border-radius: 5px;
}

#ofertas{
    margin-top: 100px;
    padding-bottom: 15px;
    text-align: center;
    background-color: darkgray;
}

#ofertas h1{
    font-size: 3em;
    color:rgb(231, 208, 0);
    text-shadow: 2px 2px 2px black;
}

#ofertas p{
    font-weight: bolder;
    font-size: 1.5em;
    color: rgb(58, 58, 58);
    margin-top: 10px;
}

#ofertas img{
    width: 300px;
}

#ofertas ul{
    display: grid;
    grid-template-columns: auto auto auto;
    list-style-type: none;
    margin-top: 50px;
}

#ofertas ul li a{
    text-decoration: none;
}

/* INFORMACOES.HTML */

#informacoes{
    background-color: rgb(197, 197, 197);
    width: 65%;
    padding-top: 15px;
}

#informacoes h1{
    color: rgb(255, 5, 55);
    text-align: center;
    font-size: 3.5em;
    font-weight: bolder;
    margin: 15px auto 15px auto;
}

#informacoes p{
    color: black;
    text-indent: 30px;
    text-align: justify;
    font-size: 1.2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

#informacoes img{
    width:700px;
    position: relative;
    left: 23%;
    right: 23%;
    margin: 10px auto;
    border-radius: 3px;
}

.date{
    color: rgb(255, 0, 51);
    font-weight: bolder;
}

/* SAC.HTML */

#sac{
    width: 65%;
    text-align: center;
    margin-top: 30px;
}

#formulario{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 15px 0px;
}

#formulario label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: rgb(255, 5, 55);
}

#formulario input{
    height: 20px;
    width: 15%;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid black;
}

#formulario #btn-enviar{
    margin: 30px;
    width: 15%;
    height: 45px;
    background-color: rgb(41, 41, 41);
    color: rgb(231, 208, 0);
    font-size: 1.3em;
    font-weight: bolder;
    border-radius: 5px;
}

#formulario #btn-enviar:hover{
    background-color: rgb(102, 101, 101);
}